.archiveContainer {
  margin-top: 15vh;
  position: absolute;
  overflow: scroll;
  scrollbar-width: none;
  width: 100vw;
  height: 80vh;
  font-size: 1.45vw;
  font-weight: 400;
  font-family: moderat-meduim,BaiJamjuree-Regular;
}

.archiveContainer::-webkit-scrollbar {
  display: none;
}

.archiveInfo {
  width: 72vw;
  height: fit-content;
  margin: 7vh auto 20vh auto;
  margin-bottom: 20vh;
}
.heading {
  display: flex;
  margin-bottom: 4vh;
}
.headingTitle {
  width: 55%;
}
.headingDate {
  width: 25%;
}
.headingProject {
  width: 20%;
}
.archiveDetail {
  display: flex;
  margin-bottom: 1vh;
  flex-wrap: wrap;
}

.archiveDetail p:hover {
  text-decoration: underline black 2px;
}

.archiveTitle {
  display: list-item;
  list-style-image: url('/NK_Bullet.png');
  list-style-position: inside;
  width: 55%;
}
.archiveDate {
  width: 25%;
}
.archiveProject {
  width: 20%;
}
@media screen and (max-width: 428px) {
  .archiveContainer {
    font-size: 5.7vw;
    font-weight: 500;
  }
  .headingDate,
  .headingProject {
    display: none;
  }
  .archiveTitle {
    width: 100%;
  }
  .archiveDate {
    font-size: 3.84vw;
    width: fit-content;
    margin-right: 1vw;
  }

  .archiveProject {
    display: list-item;
    list-style-type: ",";
    font-size: 3.84vw;
  }
}
