.archiveContainer {
  position: fixed;
  top: 0;
  padding-top: 20vh;
  overflow: scroll;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  font-size: 1.45vw;
  font-weight: 400;
  font-family: moderat-meduim, BaiJamjuree-Regular;
}

.archiveContainer::-webkit-scrollbar {
  display: none;
}

.bullet {
  width: 1.5vw;
  height: auto;
  margin-right: 1vw;
}

.archiveInfo {
  width: 80vw;
  height: fit-content;
  margin: 4vh auto 30vh auto;
}
.heading {
  display: flex;
  margin-bottom: 4vh;
}
.headingTitle {
  width: 40vw;
}
.headingDate {
  width: 15vw;
}
.headingProject {
  width: 25vw;
}

.archiveRow{
  display: flex;
  align-items: flex-start;
}

.archiveDetail {
  width: 100%;
  display: flex;
  margin-bottom: 1vh;
  flex-wrap: wrap;
}

.archiveDetail p:hover {
  text-decoration: underline black 2px;
}

.archiveTitle {
  display: list-item;
  list-style-type: none;
  list-style-position: inside;
  width: 37.5vw;
  word-break: break-word;
}
.archiveDate {
  width: 15vw;
  margin: 0;
}
.archiveProject {
  width: 25vw;
  word-break: break-word;
}
@media screen and (max-width: 428px) {
  .archiveContainer {
    font-size: 5.7vw;
    font-weight: 500;
    overflow-x: hidden;
  }
  .headingDate,
  .headingProject {
    display: none;
  }
  
  .archiveInfo {
    width: 100%;
    margin: 0 0 30vh 5vw;
    padding-right: 10vw;
    word-break: break-all;
  }

  .archiveDetail {
    margin-bottom: 2.5vh;
  }

  .bullet {
    width: 6vw;
  }

  .archiveTitle {
    width: 100%;
    margin-bottom: 0.5vh;
  }


  .archiveDate {
    font-size: 4.3vw;
    width: fit-content;
    margin-right: 1vw;
  }

  .archiveDate::after {
    content: ", ";
  }

  .archiveProject {
    font-size: 4.3vw;
    width: fit-content;
  }
}
