.contactContainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  letter-spacing: 0.02em;
  padding-top: 10vh;
}
.signupSection {
  width: 23.02vw;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputSection {
  width: 41.66vw;
  border: none;
  color: #c4c4c4;
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  letter-spacing: 0.02em;
  text-align: center;
}
.summitSection {
  border: none;
  color: #000000;
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: transparent;
}
.socialUpdate {
  width: 39.89vw;
  height: 60.82vh;
  line-height: 6.86vh;
}
@media screen and (max-width: 428px) {
  .contactContainer {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18vh;
    padding: 0;
    font-size: 7.729468599033816vw;
    font-weight: 500;
    overflow: scroll;
  }
  .signupSection {
    width: 80vw;
    height: fit-content;
    line-height: 4vh;
    display: flex;
    margin-bottom: 4vh;
  }
  .inputSection {
    width: 80vw;
    font-size: 7.729468599033816vw;
    margin: 3vw 0 3vw 0;
  }
  .summitSection {
    margin-bottom: 2vw;
  }
  .socialUpdate {
    width: 80vw;
    height: fit-content;
    font-size: 5.797101449275362vw;
    line-height: 4vh;
    margin-bottom: 20vh;
  }
}
