@font-face {
  font-family: moderat-meduim;
  src: url(./font/Moderat-Medium.woff);
}

@font-face {
  font-family: BaiJamjuree-Regular;
  src: url(./font/BaiJamjuree-Regular.ttf);
}

@font-face {
  font-family: ABC-Marfa-Mono;
  src: url(./font/ABCMarfaMonoVariable-Trial.ttf);
}

.engTxt {
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  letter-spacing: 0.02em;
}

.engTxtContent {
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  letter-spacing: 0.02em;
  text-align: center;
}

.thaiTxt {
  font-family: BaiJamjuree-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 2.86vw;
  letter-spacing: 0.02em;
}

.infoTxt {
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 1.458vw;
  letter-spacing: 0.02em;
}

.infoThTxt {
  font-family: BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.458vw;
  line-height: 4.2vh;
  letter-spacing: 0.02em;
}

