.manifestoBody {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 24vh 0;
  overflow: scroll;
}

.manifestoBody p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
}

.manifestoHeader {
  width: 96vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin: 0 2vw;
}

.manifestoTitle {
  width: 26.125vw;
  padding-right: 2vw;
}

.manifestoDescription {
  width: 43.75vw;
  padding-right: 4vw;
}

.manifestoDetail {
  width: 24.125vw;
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
}

.authorYear {
  width: 26.125vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.author {
  margin: 0 2vw 0 0;
  display: flex;
}

.year{
  margin: 0 2vw 0 0;
  display: flex;
}

.authorKey {
  width: 6vw;
}

.yearKey {
  width: 6vw;
}

.manifestoPDF {
  width: 96vw;
  height: fit-content;
  display: flex;
  align-items: baseline;
  margin: 4vh 2vw;
  padding: 0 26.125vw;
  cursor: pointer;
}

.manifestoDownloadIcon {
  height: auto;
  width: 1vw;
  margin-left: 0.5vw;
}

.manifestoImg {
  width: 43.75vw;
  height: fit-content;
  margin: 5vh 28.125vw 11vh 28.125vw;
}

.manifestoPageImage {
  width: 43.75vw;
  height: auto;
}

.manifestoContent {
  width: 43.75vw;
  height: fit-content;
  margin: 0 28.125vw;
}

.manifestoContent img {
  width: 43.75vw;
  height: auto;
  margin-top: 4.85vh  ;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.languageSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

.languageOnActive {
  text-decoration: underline;
}
.languageOnHover {
  cursor: pointer;
}

@media screen and (max-width: 428px) {

  .manifestoBody {
    padding-top: 15.8vh;
    overflow-x: hidden;
  }

  .manifestoBody p {
    font-size: 5.7vw;
  }

  .manifestoHeader {
    flex-direction: column;
    margin-left: 5vw;
  }

  .manifestoTitle {
    width: 100%;
    margin-bottom: 4vh;
    padding-right: 6vw;
  }

  .manifestoTitle p {
    font-size: 40px;
    line-height: 6vh;
  }

  .manifestoDescription {
    width: 100%;
    padding-right: 6vw;
    margin-bottom: 4vh;
  }

  .manifestoDetail {
    width: 100%;
    padding-left: 0;
    padding-right: 6vw;
    align-items: flex-end;
  }

  .authorYear {
    width: 100%;
    flex-direction: row;
  }

  .author {
    width: 70%;
    margin-bottom: 1vh;
    display: flex;
  }

  .authorTh {
    width: 80%;
    margin-bottom: 1vh;
    display: flex;
  }

  .year {
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .yearTh {
    width: 20%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .authorKey {
    width: fit-content;
    margin-right: 3vw;
  }

  .yearKey {
    width: fit-content;
    margin-right: 3vw;
  }

  .manifestoPDF{
    height: 2vw;
    margin: 0 0 0 5vw;
    padding: 0;
    transform: translateY(-4vh);
  }

  .manifestoDownloadIcon {
    width: 4vw;
  }

  .manifestoImg{
    width: 100%;
    margin: 2vh 0 6vh 5vw;
    padding-right: 10vw;
  }

  .manifestoPageImage{
    width: 100%;
  }

  .manifestoContent {
    width: 100%;
    margin: 0 0 20vh 5vw;
    padding-right: 10vw;
  }

  .manifestoContent p {
    line-height: 4vh;
  }

  .manifestoContent img {
    width: 100%;
  }

}
