.newsContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 20vh;
  padding-bottom: 12vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.oneNewsContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  margin-bottom: 10vh;
}

.imgContainer {
  height: 47.5vh;
  width: 84.4vh;
  overflow: hidden;
}

.newsCoverImage {
  height: 47.5vh;
  width: auto;
}

.newsDetail {
  height: 47.5vh;
  width: 34vw;
  padding-left: 4vw;
}

.contentDetail {
  height: 44vh;
  overflow: hidden;
}

.newsDetail h2 {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  line-height: 7.6vh;
  color: #000000;
  margin: 0 0 1vh 0;
}

.newsDetail p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
}

.newsDate {
  position: relative;
  height: 4vh;
  z-index: 20;
  box-shadow: 0px -5px 5px white;
}

.pin {
  height: 5vh;
  width: auto;
  margin-right: 1vw;
}
