.newsContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 20vh;
  padding-bottom: 12vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.newsWrapper {
  height: fit-content;
  margin: 0;
}

.oneNewsContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.newsCoverImage {
  height: 47.5vh;
  width: auto;
}

.newsDetail {
  height: 47.5vh;
  width: 34vw;
  padding-left: 4vw;
}

.contentDetail {
  height: 44vh;
  overflow: hidden;
}

.newsDetail h2 {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  line-height: 7.6vh;
  color: #000000;
  margin: 0 0 1vh 0;
}

.newsDetail p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
}

.newsDate {
  position: relative;
  height: 4vh;
  z-index: 20;
  box-shadow: 0px -5px 5px white;
}

.pin {
  height: 5vh;
  width: auto;
  margin-right: 1vw;
}

@media screen and (max-width: 428px) {
  .newsContainer {
    padding-top: 17vh;
  }

  .newsWrapper {
    height: fit-content;
    margin-bottom: 10vh;
  }

  .oneNewsContainer {
    width: 90vw;
    flex-direction: column;
  }

  .newsCoverImage {
    width: 90vw;
    height: auto;
  }

  .newsDetail {
    width: 90vw;
    height: fit-content;
    padding-left: 0;
  }
  
  .contentDetail {
    height: fit-content;
  }

  .contentDetail p {
    margin-bottom: 2vh;
  }

  .newsDetail h2 {
    font-size: 40px;
    word-break: normal;
  }

  .newsDetail p {
    font-size: 5.7vw;
  }
}
