.notFoundBody {
  width: 100vw;
  height: 100vh;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFoundWrapper {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: unset;
}

.notFoundBody h2 {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  line-height:7.6vh;
  color: #000000;
  margin: 0;
}

.notFoundBody p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.notFoundIcon {
  width: 4vw;
  height: auto;
  margin-left: 1vw;
}

@media screen and (max-width: 428px) {
  .notFoundBody {
    height: 80vh;
  }

  .notFoundWrapper {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .notFoundBody h2 {
    font-size: 40px;
    line-height: 5vh;
  }

  .notFoundBody p {
    font-size: 5.7vw;
  }

  .notFoundIcon {
    width: 10vw;
    margin: 1vh 0 0 0;
  }
}
