.projectsContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 12vh;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-padding: 20vh;
}

.projectsContainerNoScroll {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 12vh;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-padding: 20vh;
}

.projectWrapper {
  height: fit-content;
}

.projectContainer {
  height: fit-content;
  width: 100vw;
}

.projectHeader {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.projectName {
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  line-height: 7.6vh;
  color: #000000;
  padding-left: 1.82vw;
}

.dungoIcon {
  height: 4vh;
  width: auto;
  margin-right: 1.25vw;
  cursor: pointer;
}

.projectBody {
  height: 60vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 2vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectBody::-webkit-scrollbar {
  display: none;
}

.projectBodyFrost {
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverImg {
  height: 56vh;
  width: auto;
  margin: 2vh 0 4vh 2vw;
}

.coverImgFrost {
  height: 56vh;
  width: auto;
  margin: 2vh 0 4vh 0;
}

.popupContainerIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  animation: slideIn 1.5s forwards;
}

.popupContainerOut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  animation: slideOut 1.5s forwards;
}

.popupContainerIn p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
  animation: none 0s;
}

.popupContainerOut p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
}

.popupOuter {
  width: 50vw;
  z-index: 20;
}

.popupInner {
  width: 50vw;
  height: 100vh;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: 20;
}

.popupClose {
  position: fixed;
  top: 20vh;
  right: 42vw;
  width: 4vh;
  height: 4vh;
  padding: 2.5vh 0 0 2vh;
  cursor: pointer;
  z-index: 25;
}

.closeIcon {
  height: 4vh;
  width: auto;
}

.popupHeader {
  width: 40vw;
  height: 10vh;
  position: fixed;
  top: 20vh;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: 15;
}

.popupContent {
  width: 40vw;
  height: 70vh;
  position: fixed;
  top: 20vh;
  right: 0;
  padding: 10vh 5vw 10vh 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popupContentWrapper {
  height: fit-content;
}

.popupContent::-webkit-scrollbar {
  display: none;
}

.popupContent p {
  margin-bottom: 2vh;
}

.popupLanguageSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40vw;
  height: 7vh;
  padding-right: 10vh;
}

.popupLanguageSection p {
  animation: none 0s;
}

.languageOnActive {
  text-decoration: underline;
}
.languageOnHover {
  cursor: pointer;
}

.popupPDF {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: baseline;
  margin-bottom: 2vh;
  cursor: pointer;
}

.downloadArea {
  width: 4.5vw;
}

.popupDownloadIcon {
  height: auto;
  width: 1vw;
  margin-left: 0.5vw;
}

.logosContainer {
  width: 40vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2vh;
}

.singleLogo {
  width: auto;
  height: 10vh;
  margin: 0 1vw;
}

.pinProject {
  display: flex;
  align-items: flex-end;
}

.pin {
  height: 5vh;
  width: auto;
  margin-right: 0.5vw;
  margin-bottom: 0.5vh;
}

@keyframes slideIn {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50vw);
  }
}

@keyframes MobileSlideIn {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes MobileSlideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media screen and (max-width: 428px) {
  .projectsContainer {
    padding-top: 15vh;
    padding-bottom: 18vh;
    scroll-padding: 15vh;
  }

  .projectsContainerNoScroll {
    padding-top: 15vh;
    padding-bottom: 18vh;
    scroll-padding: 15vh;
  }

  .projectWrapper {
    height: fit-content;
    margin-bottom: 7vh;
  }
  
  .projectName {
    font-size: 40px;
    margin-left: 5vw;
    padding: 0;
  }

  .projectBody {
    padding: 0 7vw;
    height: 52vh;
  }

  .projectBodyFrost {
    height: 52vh;
  }

  .coverImg {
    height: 50vh;
    width: auto;
    margin: 1vh 0 1vh 2vw;
  }

  .dungoIcon {
    width: auto;
    height: 3vh;
    margin-right: 3vw;
  }

  .popupContainerIn {
    animation: MobileSlideIn 1.5s forwards;
  }

  .popupContainerOut {
    animation: MobileSlideOut 1.5s forwards;
  }

  .popupContainerIn p {
    font-family: moderat-meduim, BaiJamjuree-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 5.7vw;
    line-height: 4vh;
    letter-spacing: 0.02em;
    animation: none 0s;
  }

  .popupContainerOut p {
    font-family: moderat-meduim, BaiJamjuree-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 5.7vw;
    line-height: 4vh;
    letter-spacing: 0.02em;
  }

  .popupOuter {
    width: 0;
    z-index: 20;
  }

  .popupInner {
    width: 100vw;
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    z-index: 20;
  }

  .popupClose {
    right: 5vw;
    top: 15vh;
    width: fit-content;
    height: fit-content;
  }

  .closeIcon {
    height: 3vh;
    width: auto;
  }

  .popupHeader {
    width: 90vw;
    top: 13vh;
    padding-top: 2vh;
  }

  .popupLanguageSection {
    width: 100vw;
    justify-content: flex-start;
  }

  .popupLanguageSection p {
    animation: none 0s;
  }

  .popupContentWrapper {
    height: fit-content;
    margin-bottom: 12vh;
  }

  .popupContent {
    width: 90vw;
    height: 80vh;
    padding-right: 10vw;
    top: 15vh;
  }

  .popupDownloadIcon {
    width: 4vw;
    margin-left: 1vw;
  }

  .logosContainer {
    width: 80vw;
  }

  .pinProject {
    display: flex;
    align-items: baseline;
  }
  
  .pin {
    height: 4vh;
    width: auto;
    margin: 0 2vw;
  }

}
