.projectsContainer {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding-top: 20vh;
  overflow: scroll;
}

.projectContainer {
  height: 80vh;
  width: 100vw;
}

.projectHeader {
  height: 8vh;
  width: 100vw;
}

.projectName {
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  line-height: 7.6vh;
  color: #000000;
  padding-left: 1.82vw;
}

.projectBody {
  height: 72vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.projectBodyFrost {
  height: 72vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectBodyNotes {
  height: 72vh;
  width: 100vw;
}


.manifestosCoverImg {
  height: 70vh;
  width: auto;
  margin: 2vh 2vw;
}

.frostsCoverImg {
  height: 72vh;
  width: auto;
}

.notesCoverImg {
  height: 50vh;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3.5vh 5vw;
}
