.projectsContainer {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding:20vh 0 12vh 0;
  overflow: scroll;
}

.projectContainer {
  height: fit-content;
  width: 100vw;
}

.projectHeader {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.projectName {
  font-family: moderat-meduim;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  line-height: 7.6vh;
  color: #000000;
  padding-left: 1.82vw;
}



.dungoIcon {
  height: 4vh;
  width: auto;
  padding-right: 1.82vw;
}

.projectBody {
  height: 60vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 2vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectBody::-webkit-scrollbar {
  display: none;
}


.projectBodyFrost {
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.coverImg {
  height: 58vh;
  width: auto;
  margin: 2vh 0 2vh 2vw;
}