.shopContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 20vh;
  padding-bottom: 12vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.shopWrapper{
  height: fit-content;
  margin: 0;
}

.itemContainer {
  height: fit-content;
  width: 65vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.itemDisplayImage {
  height: 47.5vh;
  width: auto;
}

.itemDetail {
  height: 47.5vh;
  width: 34vw;
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemDetail h2 {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 3.125vw;
  line-height: 7.6vh;
  color: #000000;
  margin: 0 0 1vh 0;
}

.itemDetail p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
}

.itemMoreInfo {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 30vw;
}

.moreInfoIcon {
  height: auto;
  width: 0.8vw;
  margin-left: 0.5vw;
  transform: rotate(-0.25turn);
}

.pin {
  height: 5vh;
  width: auto;
  margin-right: 1vw;
}

@media screen and (max-width: 428px) {

  .shopContainer {
    padding-top: 17vh;
  }

  .shopWrapper {
    height: fit-content;
    margin-bottom: 10vh;
  }

  .itemContainer {
    width: 90vw;
    flex-direction: column;
  }
  

  .itemDisplayImage {
    height: auto;
    width: 90vw;
  }

  .itemDetail {
    width: 90vw;
    height: fit-content;
    padding: 0;
  }

  .itemDetail h2 {
    font-size: 40px;
  }
  
  .itemDetail p {
   font-size: 5.7vw;
  }

  .itemMoreInfo{
    width: 90vw;
    margin-top: 2vh;
  }

  .moreInfoIcon{
    height: auto;
    width: 4vw;
    margin-left: 2vw;
  }
}

