.itemContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20vh 13.25vw 12vh 13.25vw;
  overflow: scroll;
  scroll-behavior: smooth;
}

.itemContainer p {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
}

.itemImg {
  width: 50vw;
  height: auto;
  margin-bottom: 10vh;
}

.languageSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

.languageOnActive {
  text-decoration: underline;
}
.languageOnHover {
  cursor: pointer;
}

.mainDetail {
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainDetail a {
  height: fit-content;
  width: fit-content;
  margin: 0;
}

.mainDetail button {
  font-family: moderat-meduim, BaiJamjuree-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 4vh;
  letter-spacing: 0.02em;
  height: fit-content;
  padding: 0 1vh 0.5vh 1vh;
  border: 1px solid black;
}

.mainDetail img {
  width: 50vw;
  height: auto;
}

.moreDetail {
  width: 50vw;
  height: fit-content;
  margin: 0;
}

.moreDetail img {
  width: 50vw;
  height: auto;
}

@media screen and (max-width: 428px) {
  .itemContainer {
    padding: 17vh 0 0 0;
  }

  .itemContainer p {
    font-size: 5.7vw;
  }

  .itemImg {
    width: 90vw;
    margin-bottom: 4vh;
  }
  .mainDetail {
    width: 90vw;
    flex-direction: column-reverse;
  }

  .mainDetail button {
    font-size: 5.7vw;
  }

  .mainDetail a {
    margin: 0 auto 4vh auto;
  }

  .mainDetail img {
    width: 90vw;
  }
  
  .moreDetail {
    width: 90vw;
    margin-bottom: 30vh;
  }
  
  .moreDetail img {
    width: 90vw;
  }
}
